.quiz1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:  #eb4357;
    padding: 20px;
    color: black;
}
  
/* Quiz Box */
.quiz1-box {
    background: white;
    padding: 20px;
    width: 400px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
  
/* Question Text */
.question1-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
}
  
/* Option Buttons */
.option1-button {
    padding: 12px 16px;
    font-size: 1rem;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%; 
    max-width: 300px; 
    text-align: center; 
    box-sizing: border-box; 
  }
  
  .option1-button:hover {
    background: #ff6a7c;
    color: white
  }
  
/* Results Section */
.result-container {
    text-align: center;
}
  
/* Retry Button */
.retry-button {
    margin-top: 20px;
    padding: 12px 16px;
    font-size: 1rem;
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
  
.retry-button:hover {
    background: darkred;
}
  
/* Finish Button */
.finish-button {
    margin-top: 20px;
    padding: 12px 16px;
    font-size: 1rem;
    background: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
  
.finish-button:hover {
    background: darkgreen;
}